{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}


<div class="row content-header">
    <div class="large-12 column">
        <h3>Account Dashboard</h3>
        <!--<span>Modified x minutes ago</span>-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>


    <!-- what is this? > <div id="thing"></div> -->
    <div class="row top-spacing">
        <div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: true">
            <section class="active">
                <p class="title" data-section-title>
                    <a href="#syllabus">Syllabus</a>
                </p>
                <div class="content" data-slug="syllabus" data-section-content>
                    <!-- Content -->
                    <div class="row">
                        <div class="large-12 columns">

                            <a href="#" data-dropdown="syllabus-checkboxes" class="dashboard-grey dropdown">
                                <i class="icon-check-empty"></i>
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul id="syllabus-checkboxes" class="f-dropdown">
                              <li><a href="#">All</a></li>
                              <li><a href="#">None</a></li>
                            </ul>

                            <a href="#" class="dashboard-green"><i class="icon-download-alt"></i>&nbsp;Download</a>

                            <a href="{% url "syllabus:syllabus" %}" class="dashboard-green"><i class="icon-plus"></i>&nbsp;New Syllabus</a>

                            <a href="#" class="dashboard-grey"><i class="icon-trash"></i></a>

                        </div>
                    </div>


                    <div class="row dashboard-table-content">
                        <div class="large-12 columns">
                            <ul data-bind="foreach: pagedList">
                                <li data-bind="click: select">
                                    <!-- <i class="icon-check-empty"></i> -->
                                    <input type="checkbox" data-bind="checked: isSelected">
                                    <span class="itemName" data-bind="text: itemName"></span>
                                    <span class="lastModified" data-bind="text: lastModified"></span>
                                </li>
                            </ul>
                            <div data-bind="visible: hasMoreThanOnePage">
                                <a class="dashboard-green" data-bind="click: previousPage">Previous</a>
                                <a class="dashboard-green" data-bind="click: nextPage">Next</a>
                            </div>
                        </div>
                    </div>

                            <!-- End of content -->
                </div>
            </section>
            <section>
                <p class="title" data-section-title>
                    <a href="#rubric">Rubric</a>
                </p>
                <div class="content" data-slug="rubric" data-section-content>
                    <!-- Content -->
                    <div class="row">
                        <div class="large-12 columns">

                            <a href="#" data-dropdown="rubric-checkboxes" class="dashboard-grey dropdown">
                                <i class="icon-check-empty"></i>
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul id="rubric-checkboxes" class="f-dropdown">
                              <li><a href="#">All</a></li>
                              <li><a href="#">None</a></li>
                            </ul>

                            <a href="{% url "syllabus:syllabus" %}" class="dashboard-green"><i class="icon-plus"></i>&nbsp;New Rubric</a>

                            <a href="#" class="dashboard-grey"><i class="icon-trash"></i></a>

                        </div>
                    </div>


                    <div class="row dashboard-table-content">
                        <div class="large-12 columns">
                            <ul data-bind="foreach: pagedList">
                                <li data-bind="click: select">
                                    <!-- <i class="icon-check-empty"></i> -->
                                    <input type="checkbox" data-bind="checked: isSelected">
                                    <span class="itemName" data-bind="text: itemName"></span>
                                    <span class="lastModified" data-bind="text: lastModified"></span>
                                </li>
                            </ul>
                            <div data-bind="visible: hasMoreThanOnePage">
                                <a class="dashboard-green" data-bind="click: previousPage">Previous</a>
                                <a class="dashboard-green" data-bind="click: nextPage">Next</a>
                            </div>
                        </div>
                    </div>

                    <!-- End of content -->
                </div>
            </section>
            <section>
                <p class="title" data-section-title>
                    <a href="#user-profile">User Profile</a>
                </p>
                <div class="content" data-slug="user-profile" data-section-content>
                    <form id="profileForm" action="{% url "accounts:update_profile" %}" method="post" class="custom">
                        {% csrf_token %}
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Name</label>
                                {# <input id="id_name" name="name" type="text"/> #}
                                {{ profile_form.name }}
                                {{ profile_form.name.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>College</label>
                                <select id="collegeSelect" name="college" data-bind="options: collegeList,optionsText: 'collegeName',optionsValue: 'pk',value: college,optionsCaption: 'Choose one...'">
                                </select>
                                {# {{ profile_form.college }} #}
                                {{ profile_form.college.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Department</label>
                                <select id="departmentSelect" name="department" data-bind="options: departmentList,optionsText: 'departmentName',
                                optionsValue: 'pk',value: department,optionsCaption: 'Choose one...'">
                                </select>
                                {# {{ profile_form.department }} #}
                                {{ profile_form.department.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <a class="add-row" id="btnProfileSubmit" href="#"><i class="icon-edit"></i>&nbsp;Update Profile</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section>
                <p class="title" data-section-title>
                    <a href="#change-password">Change Password</a>
                </p>
                <div class="content" data-slug="change-password" data-section-content>
                    <form id="change_password_form" action="{% url "accounts:change_password" %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="large-6 columns">
                                <!-- <label>Old Password</label>
                                <input type="password"/> -->
                                {{ change_password_form.old_password.label }}
                                {{ change_password_form.old_password }}
                                {{ change_password_form.old_password.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <!-- <label>New Password</label>
                                <input type="password"/> -->
                                {{ change_password_form.new_password1.label }}
                                {{ change_password_form.new_password1 }}
                                {{ change_password_form.new_password1.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <!-- <label>Confirm Password</label>
                                <input type="password"/> -->
                                {{ change_password_form.new_password2.label }}
                                {{ change_password_form.new_password2 }}
                                {{ change_password_form.new_password2.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <a id="btnChangePasswordSubmit" class="add-row" href="#"><i class="icon-edit"></i>&nbsp;Change Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!--</form>-->

{% endblock content %}
{% block scripts %}

<!-- Server side json data -->
<script>
    var jsonData = $.parseJSON('{{ jsonData|escapejs }}');
</script>

{% load staticfiles %}
<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/profile.js" %}"></script>
<script src="{% static "javascripts/dashboard.js" %}"></script>
{% endblock scripts %}
