{% extends "base.html" %}

{% block title %}New syllabus{% endblock title %}

{% block content %}
<div class="row content-header">
    <div class="large-12 column">
        <h3 class="left">Create a new syllabus</h3>
        <!--<a href="#" class="add-row" id="validateBtn">Validate</a>-->
        <div class="right">
            <div class="modified" data-bind="if: timeSinceModified">Modified <span data-bind="text: timeSinceModified"></span> ago</div>
            <div class="save">

                <!--<a href="#" class="_save">
                <i class="icon-save"></i> Save</a>-->

                <a href="#" class="_saving">
                <i class="icon-refresh icon-spin"></i>
                </a>

                <!--<a href="#" class="_saved"><i class="icon-save"></i> Saved</a>-->

                 Saving
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row tab-wrapper">
    <div class="section-container vertical-tabs" data-options="deep_linking: true" data-section="vertical-tabs">
        <section class="active">
            <p class="title"><a href="#basic-details">Basic Details</a></p>

            <div class="content" data-slug="basic-details">
                <!-- Basic Details content -->

                <div class="row">
                    <div class="large-4 columns">
                        <label>Syllabus Name</label>
                        <input type="text" placeholder="NewSyllabus-class-01" data-bind="value: syllabusName"/>
                    </div>
                </div>

                <hr>

                <form class="custom">
                    <div class="row">
                        <div class="large-4 columns">
                            <label>College</label>
                            <!-- <select id="collegeSelect" data-bind="options: collegeList,optionsText: 'collegeName',optionsValue: 'pk',value: college,optionsCaption: 'Choose one...'">
                            </select> -->
                            <select class="no-custom" id="collegeSelect" data-bind="options: collegeList,optionsText: 'collegeName',optionsValue: 'pk',value: college,optionsCaption: 'Choose one...'">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <label>Department</label>
                            <!-- <select id="departmentSelect" data-bind="options: departmentList,optionsText: 'departmentName',
                            optionsValue: 'pk',value: department,optionsCaption: 'Choose one...'">
                            </select> -->
                            <select class="no-custom" id="departmentSelect" data-bind="options: departmentList,optionsText: 'departmentName',
                            optionsValue: 'pk',value: department,optionsCaption: 'Choose one...'">
                            </select>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="large-4 columns">
                        <label>Course Code</label>
                        <input data-bind="value: courseCode" placeholder="NTCOR03" type="text">
                    </div>
                    <div class="large-8 columns">
                        <label>Course Name</label>
                        <input data-bind="value: courseName" placeholder="LAN Switching and Wireless - Lecture" type="text">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="large-4 columns">
                        <label>Days</label>
                    </div>
                    <div class="large-4 columns left">
                        <label>Class time</label>
                    </div>
                    <div class="large-2 columns left">
                        <label>Venue</label>
                    </div>
                </div>
                <div  data-bind="foreach: schedules">
                    <div class="row">
                        <div class="large-4 columns">
                            <input data-bind="value: days" placeholder="Mondays and Wednesdays" type="text">
                        </div>
                        <div class="large-2 columns">
                            <input data-bind="value: startTime" placeholder="13:00" type="text">
                        </div>
                        <div class="large-2 columns">
                            <input data-bind="value: endTime" placeholder="14:30" type="text">
                        </div>
                        <div class="large-2 columns">
                            <input type="text" placeholder="G403"/>
                        </div>
                        <div class="large-2 columns">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeSchedule" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <a class="add-row" data-bind="click: addSchedule" href="#"><i class="icon-plus"></i> Add row</a>
                    </div>
                </div>

                <hr>


                <div class="row">
                    <div class="large-4 columns">
                        <label>Instructors</label>
                    </div>
                </div>
                <div  data-bind="foreach: instructors">
                    <div class="row">
                        <div class="large-4 columns">
                            <input data-bind="value: fullName" placeholder="Jean Baptiste de La Salle" type="text">
                        </div>
                        <div class="large-4 columns left">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeInstructor" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <a class="add-row" data-bind="click: addInstructor" href="#"><i class="icon-plus"></i> Add row</a>
                    </div>
                </div>

                <hr>

                <div class="row top-spacing">
                    <div class="large-12 columns">
                        <label>Course Description</label>
                        <textarea class="form-fill form-textarea" data-bind="value: courseDescription" name="description">
                        </textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <a class="continue-button" href="#learning-outcomes">
                            <i class="icon-chevron-right"></i> To Learning Outcomes
                        </a>
                    </div>
                </div><!-- End of Basic Details content -->
            </div>
        </section>

        <section>
            <p class="title"><a href="#learning-outcomes">Learning Outcomes</a></p>
            <div class="content" data-slug="learning-outcomes">
                <!-- Start of Learning Outcomes content -->

                <!--<p>On completion of the course, the student is expected to be able to do the following:</p>-->

                <div  data-bind="foreach: elgas">

                    <div class="row">

                        <div class="large-4 columns">
                            <label>Lasallian Value</label>
                            <input type="text" data-bind="value: elgaName" placeholder="Service Driven Citizen"> <a class="icon-remove" data-bind="click: $root.removeElga" href="#"></a>
                        </div>

                        <div class="large-8 columns left">

                            <label>Learning Outcome</label>
                            <div class="row">
                                <div class="large-2 columns">
                                    <div class="lo-block">LO <span data-bind="text: learningOutcomeNumber"></span></div>
                                </div>
                                <div class="large-10 columns">
                                    <textarea class="lo-form form-fill" data-bind="value: learningOutcome" placeholder="Design an efficient, fault tolerant, and scalable network based on the principles of hiearchical LAN design.">
                                    </textarea>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>



                <div class="row">
                    <div class="large-7 columns left">
                        <a class="add-row" data-bind="click: addElga" href="#"><i class="icon-plus"></i> Add ELGA</a>
                    </div>

                    <div class="large-5 columns">
                        <a class="continue-button" href="#course-output"><i class="icon-chevron-right"></i> To Course Output</a> <a class=" icon-chevron-left" href="#basic-details" onclick="pane(1)"></a>
                    </div>
                </div><!-- End of Learning Outcomes content -->
            </div>
        </section>

        <section>
            <p class="title" ><a href="#course-output">Course Output</a></p>

            <div class="content" data-slug="course-output">
                <!-- Start of Course Output content -->

                <h4>Final Course Output</h4>
                <p>As evidence of attaining the prescribed learning outcomes, the student is required to do and submit the following during the indicated dates of the term.</p>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Final Course Output Description</label>
                        <textarea data-bind="value: finalCourseOutputDescription" placeholder="The final case study requires students to work in groups of 3-4 members in designing, implementing, and verifying a hypothetical network based on a set of given requirement. Further details and specifications of the case study will be given at a later date.">
                        </textarea>
                    </div>
                </div>

                <div data-bind="foreach: requiredOutputs">

                    <div class="row">
                        <div class="large-4 columns">
                            <label>Required Output</label>
                            <input data-bind="value: description" placeholder="Case Study" type="text">
                        </div>
                        <div class="large-4 columns left">
                            <label>Due Date</label>
                            <input data-bind="value: weekDue" placeholder="Week 13" type="text">
                        </div>
                        <div class="large-2 columns left">
                            <label class="no-visibility">Delete row</label>
                            <a class="icon-remove-multiple" data-bind="click: $root.removeRequiredOutput" href="#"></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Learning Outcomes</label>
                        </div>
                        <div data-bind="foreach: $root.elgas">
                            <div class="large-12 columns">
                                <div class="small-1 columns">
                                    <input data-bind="value: learningOutcomeNumber, checked: $parent.los" type="checkbox">
                                </div>
                                <div class="small-11 columns left">
                                    <p>LO <span data-bind="text: learningOutcomeNumber"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <a class="add-row" data-bind="click: addRequiredOutput" href="#"><i class="icon-plus"></i> Add Required Output</a>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <h4>Other Requirements and Assesments</h4><!--<span class="syllabus-modified">Modified 53 minutes ago</span>-->

                        <p>
                            Aside from the final output, the student will be assessed at other times during the term by the following:
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="large-12 columns">
                        <label>Requirement / Assessment</label>
                    </div>
                </div>

                <div data-bind="foreach: otherOutputs">
                    <div class="row">
                        <div class="large-4 columns">
                            <input data-bind="value: requirementName" placeholder="Online Practical Exam" type="text">
                        </div>
                        <div class="large-2 columns left">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeOtherOutput" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <a class="add-row" data-bind="click: addOtherOutput" href="#"><i class="icon-plus"></i> Add row</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="large-12 columns">
                        <a class="continue-button" href="#rubric"><i class="icon-chevron-right"></i> To Rubric</a>
                        <a class="icon-chevron-left" href="#learning-outcomes"></a>
                    </div>
                </div><!-- End of Course Output content -->
            </div>
        </section>

        <section>
            <p class="title"><a href="#rubric">Rubric</a></p>

            <div class="content" data-slug="rubric">
                <!-- Start of Rubric content -->

                <h4>Attach a Rubric</h4>

                <p>
                    Rubrics are created separately from the actual Syllabus so they can be attached to multiple / different Syllabuses without having to retype them each time. Simply select below which Rubric you would like to attach. Alternatively, you can proceed to create a new one (progress here would not be lost).
                </p>

                <form class="custom">
                    <div class="row">
                        <div class="large-4 column">
                            <!-- <select id="rubricSelect" data-bind="options: rubricList,
                            optionsText: 'rubricName',
                            optionsValue: 'pk',
                            value: rubric,
                            optionsCaption: 'Choose one...'">
                            </select> -->
                            <select class="no-custom" id="rubricSelect" data-bind="options: rubricList,
                            optionsText: 'rubricName',
                            optionsValue: 'pk',
                            value: rubric,
                            optionsCaption: 'Choose one...'">
                            </select>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="row">
                    <div class="large-7 columns left">
                        <a class="add-row" href="{% url "syllabus:rubric" %}"><i class="icon-plus"></i> Create new Rubric</a>
                    </div>

                    <div class="large-5 columns">
                        <a class="continue-button" href="#grading-system"><i class="icon-chevron-right"></i> To Grading System</a> <a class="icon-chevron-left button-icon" href="#course-output"></a>
                    </div>
                </div><!-- End of Rubric content -->
            </div>
        </section>

        <section>
            <p class="title"><a href="#grading-system">Grading System</a></p>

            <div class="content" data-slug="grading-system">
                <!-- Start of Grading System content -->

                <!--<p>The student will be graded according to the following:</p>-->

                <div class="row">
                    <div class="large-4 columns">
                        <label>Assessment Items</label>
                    </div>

                    <div class="large-4 columns left">
                        <label>Weight</label>
                    </div>
                </div>

                <div data-bind="foreach: gradingSystems">
                    <div class="row">
                        <div class="large-4 columns">
                            <input data-bind="value: itemName" placeholder="Chapter Exam" type="text">
                        </div>
                        <div class="large-4 columns left">
                            <input data-bind="value: percentage" placeholder="15" type="text">
                        </div>
                        <div class="large-2 columns left">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeGradingSystem" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns">
                        <a class="add-row" data-bind="click: addGradingSystem" href="#"><i class="icon-plus"></i> Add row</a>
                    </div>

                    <div class="large-4 columns left">
                        <p>Total grade of: <strong data-bind="text: totalGradingSystem"></strong>%</p>
                        <span data-bind="validationMessage: totalGradingSystem" class="validationMessage"></span>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="large-12 columns right">
                        <a class="continue-button" href="#learning-plan"><i class="icon-chevron-right"></i> To Learning Plan</a>
                        <a class="icon-chevron-left" href="#rubric"></a>
                    </div>
                </div><!-- End of Grading System content -->
            </div>
        </section>

        <section>
            <p class="title"><a href="#learning-plan">Learning Plan</a></p>

            <div class="content" data-slug="learning-plan">
                <!-- Start of Learning Plan content -->

                <!--<p>Plot weekly topics and coressponding activites that will be performed while discussing said topics.</p> -->

                <div data-bind="foreach: learningPlans">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Learning Outcomes</label>
                        </div>
                        <div data-bind="foreach: $root.elgas">
                            <div class="large-12 columns">
                                <div class="small-1 columns">
                                    <input data-bind="value: learningOutcomeNumber, checked: $parent.los" type="checkbox">
                                </div>
                                <div class="small-11 columns left">
                                    <p>LO <span data-bind="text: learningOutcomeNumber"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-5 columns">
                            <label>Topic</label>
                            <input data-bind="value: topic" placeholder="Introduction / Orientation" type="text">
                        </div>
                        <div class="large-2 columns left">
                            <label>Week No.</label>
                            <input class=" bottom-spacing-small" data-bind="value: weekNumber" placeholder="1" type="text">
                        </div>
                        <div class="large-5 columns left">
                            <label>Learning Activites</label>
                            <div class="row" data-bind="foreach: learningActivities">
                                <div class="small-9 columns">
                                    <input data-bind="value: description" placeholder="Course Introduction" type="text">
                                </div>
                                <div class="small-3 columns left">
                                    <a class="icon-remove-multiple" data-bind="click: $parent.removeLearningActivity"></a>
                                </div>
                            </div>
                            <a class="add-row" data-bind="click: addLearningActivity" href="#"><i class="icon-plus"></i> Add an activity</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <a  data-bind="click: $root.removeLearningPlan" href="#"><i class="icon-remove"><span>Remove Topic</span></i></a>
                        </div>
                    </div>

                    <hr>
                </div>

                <div class="row">
                    <div class="large-6 columns left">
                        <a class="add-row" data-bind="click: addLearningPlan" href="#"><i class="icon-plus"></i> Add another topic</a>
                    </div>

                    <div class="large-6 columns">
                        <a class="continue-button" href="#references-and-policies"><i class="icon-chevron-right"></i> To References and Policies</a>
                        <a class="icon-chevron-left" href="#grading-system"></a>
                    </div>
                </div><!-- end of Learning Plan content -->
            </div>
        </section>

        <section>
            <p class="title"><a href="#references-and-policies">References and Policies</a></p>

            <div class="content" data-slug="references-and-policies">
                <!-- End of References and Policies content -->

                <h4>References</h4>

                <div data-bind="foreach: references">
                    <div class="row">
                        <div class="small-10 columns">
                            <input data-bind="value: referenceText" placeholder="Lewis, W. (2008). LAN Switching and Wireless - CCNA Exploration Companion Guide. Cisco Press" type="text">
                        </div>
                        <div class="small-2 columns left">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeReference" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns left">
                        <a class="add-row" data-bind="click: addReference" href="#"><i class="icon-plus"></i> Add a reference</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="large-12 columns">
                        <h4>Class Policies</h4><!--<span class="syllabus-modified">Modified 53 minutes ago</span>-->
                        <p>
                            Student should follow the standard classroom policies and procedures indicated in Section 4.3 of the Student Handbook. However, these additional policies will be applied:
                        </p>
                    </div>
                </div>

                <div data-bind="foreach: classPolicies">
                    <div class="row">
                        <div class="small-10 columns">
                            <input data-bind="value: policy" placeholder="A Chapter exam shall be taken during the first 20 minutes, every Tuesday." type="text">
                        </div>
                        <div class="small-2 columns left">
                            <a class="icon-remove-multiple" data-bind="click: $root.removeClassPolicy" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns left">
                        <a class="add-row" data-bind="click: addClassPolicy" href="#"><i class="icon-plus"></i> Add a policy</a>
                    </div>
                </div>

                <hr>

                <div class="row top-spacing">
                    <div class="large-12 columns">
                        <a class="continue-button" href="#publish-syllabus"><i class="icon-chevron-right"></i> Publish Syllabus</a>
                        <a class="icon-chevron-left" href="#learning-plan"></a>
                    </div>
                </div><!-- Start of References and Policies content -->
            </div>
        </section>

        <section>
            <p class="title">
                <a href="#publish-syllabus">
                Submit Syllabus</a>
            </p>

            <div class="content" data-slug="publish-syllabus">

                <div class="row">
                    <div class="large-12 columns">
                        <h4>Phew! Your syllabus is almost complete!</h4><!--<span class="syllabus-modified">Modified 53 minutes ago</span>-->
                        <p>
                            Good job on creating your Syllabus! Take this time to head back to the previous sections to review and possibly perform some revisions. Once you are satisfied with your input, simply hit the 'Submit Syllabus' button found below. Upon saving your Syllabus, you will be brought back to the homepage from where you can download or edit this syllabus.
                        </p>
                        <p> We from the DLSU NetCentric.Web Team hope that Syllia has brought convenience in creating your Syllabus! If you have any concerns, suggestions, and/or rants regarding Syllia, please feel free to drop us a message at <span class="highlight">feedback@syllia.co</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="large-12 columns">
                        <!--<a class="add-row" href="#" id="stringifyBtn">Stringify</a>-->
                        <a class="continue-button" href="#" id="postBtn">Submit Syllabus</a>
                        <a class="icon-chevron-left" href="#references-and-policies"></a>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<form action="{% url "syllabus:syllabus" %}" id="syllabus_json_form" method="post" name="syllabus_json_form">
    {% csrf_token %}
    <input id="syllabus_json" name="syllabus_json" type="hidden">
    <input type="hidden" id="syllabus_rubric" name="syllabus_rubric">
</form>
</div>

{% endblock content %}

{% block scripts %}
{% load staticfiles %}

<script>
    var jsonData = $.parseJSON('{{ jsonData|escapejs }}');
</script>

<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/vendor/knockout.validation.js" %}"></script>
<script src="{% static "javascripts/syllabus.js" %}"></script>
{% endblock scripts %}
