{% extends "base.html" %}

{% block title %}Sign in{% endblock title %}

{% block content %}
<div class="row content-header">
    <div class="large-12 column">
        <h3>
            Sign in to proceed
        </h3>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if form.errors %}
        <div class="row">
            <div class="large-12 columns">
                <ul class="messages">
                    <li class="error">
                        Your username and password didn't match. Please try again.
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

    </div>
</div>

<form action="{% url 'authtools:login' %}" method="POST">
    {% csrf_token %}

    <div class="content">



        <div class="row">
            <div class="large-4 columns">
                <label>Email Address</label>
                {{ form.username }}
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <label>Password</label>
                {{ form.password }}
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <input type="submit" value="SIGN IN" id="login-submit">
                Don't have an account?&nbsp;
                <a href="{% url 'accounts:register' %}">Create one!</a><br/>
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</form>


<!--

    <div class="row">
        <div class="large-4 columns">

            {% if form.errors %}
                <span class="alert label">Your username and password didn't match. Please try again.</span>
            {% endif %}


            <form action="{% url 'authtools:login' %}" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="small-12 columns">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 columns">
                        <input type="submit" value="Login" class="button primary small">
                    </div>
                    <div class="small-6 columns">
                        Don't have an account?&nbsp;<a href="{% url 'accounts:register' %}">Register</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
-->
{% endblock content %}
