{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}

<div class="row content-header">
    <div class="large-12 column">
    </div>
</div>
<div class="row content">
	<div class="large-6 column">
		<textarea></textarea>
		<p>Simply fill up this form incase you need to contact us. Alternatively, if you feel that a simple form is not sufficient, you can also email us at <span class="highlight">theteam@syllia.com</span></p>
		<p>If you encounter any bug while using Syllia, please do inform us right away so that we could attend to it ASAP.</p>
		<p>Also, feel free to drop us any feedback, message, or comment regarding Syllia.</p>

		<hr>
		<a class="add-row" href="#" id="postBtn">Submit</a>
		


		
		
	</div>
</div>


{% endblock content %}
