{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="row">
        <div class="large-7 columns large-centered center">
            {% load staticfiles %}
            <img src="{% static "images/syllia_big.jpg" %}" class="logo_big" alt="" />
            <h4 class="logo_sub">Create and manage DLSU syllabi in a flash!</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns center">
            <a href="{% url "accounts:register" %}" class="green-button" id="h-reg-button">Register Now</a>
            <span class="h-reg-notice">* A valid DLSU email is required</span>
        </div>
    </div>
    <div class="row features">
        <div class="feature large-4 columns">
            <h4>Create clear and concise syllabi</h4>
            <p>
            Using our forms which are optimized for the DLSU standard syllabus, you are assured that the syllabi you will make are clear and concise.
            </p>
        </div>
        <div class="feature large-4 columns">
            <h4>Efficiently manage your syllabi</h4>
            <p>
            Handling two or more subjects? <br>Major syllabus revisions? <br>We've got you covered. <br>Managing syllabi has never been this easy. 
            </p>

        </div>
        <div class="feature large-4 columns">
            <h4>Sharing <br>made easy</h4>
            <p>
            Done creating your syllabus? <br>Ready to start the term? <br>Share the syllabus' link to your class!
            </p>

        </div>
    </div>

{% endblock content %}
