{% extends "base.html" %}

{% block title %}New syllabus{% endblock title %}

{% block content %}
<div>
    <div class="row">
        <div class="large-12 columns">
            <a href="#" id="stringifyBtn" class="button primary small">Stringify</a>
            <a href="#" id="postBtn" class="button primary small">Post</a>
            <form action="{% url 'syllabus:add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="syllabus_json" id="syllabus_json">
            </form>
        </div>
    </div>

    <form class="custom syllabus-form">
        <div class="row top-spacing underline">
            <div class="large-12 column">
                <h3 class="syllabus-title">
                    Untitled Syllabus
                </h3>
                <span class="syllabus-modified">Modified x minutes ago</span>
            </div>
        </div>

        <div class="row top-spacing">
            <div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: true">
                <section class="active">
                    <p class="title" data-section-title>
                        <a href="#">Basic Details</a>
                    </p>
                    <div class="content" data-slug="section1" data-section-content>
                        <!-- Basic Details content -->

                        <div class="row">
                            <div class="large-12 columns">
                                <h5>College</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns ">
                                <input type="text" data-bind="value: college" placeholder="College of Computer Studies" > 
                            </div>
                        </div>
                        <div class="row top-spacing">
                            <div class="large-12 columns ">
                                <h5>Department</h5>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="large-4 columns ">
                                <input type="text" data-bind="value: department" placeholder="Computer Technology Department"/>
                            </div>
                        </div>
                        <div class="row  top-spacing nested">
                            <div class="large-4 columns">
                                <div class="row">
                                    <div class="large-12 columns ">
                                        <h5>Course Code</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns ">
                                        <input type="text" data-bind="value: courseCode" placeholder="NTCOR03"/>
                                    </div>
                                </div>
                            </div>

                            <div class="large-8 columns left">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h5>Course Name</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns ">
                                        <input type="text" data-bind="value: courseName" placeholder="LAN Switching and Wireless - Lecture"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row divider"></div>
                        <div class="row  top-spacing nested">
                            <div class="large-4 columns">
                                <h5>Days</h5>
                            </div>
                            <div class="large-4 columns left">
                                <h5>Class Time</h5>
                            </div>
                        </div>

                        <div data-bind="foreach: schedules">
                            <div class="row nested">

                                <div class="large-4 columns bottom-spacing-small">
                                    <input type="text" data-bind="value: days" placeholder="Mondays and Wednesdays"/> 
                                </div>
                                <div class="large-8 columns left">
                                    <div class="row">
                                        <div class="large-4 columns bottom-spacing-small">
                                            <input type="text" data-bind="value: startTime" placeholder="13:00">
                                        </div>
                                        <div class="large-4 columns bottom-spacing-small">
                                            <input type="text" data-bind="value: endTime" placeholder="14:30">
                                        </div>    
                                        <div class="large-4 columns bottom-spacing-small">
                                            <a href="#" data-bind="click: $root.removeSchedule" class="grey-button2 form-button">
                                                <i class="icon-remove"></i>
                                                
                                            </a>  
                                        </div>                    
                                    </div>
                                </div>  
                            </div> 
                        </div>
                        <div class="row ">
                            <div class="large-4 columns">
                                <a href="#" data-bind="click: addSchedule" class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                    Add row
                                </a>
                            </div>
                        </div>

                        <div class="row divider"></div>
                        <div class="row  top-spacing nested">
                            <div class="large-4 columns">
                                <h5>Intructor's Last name</h5>
                            </div>
                            <div class="large-4 columns left">
                                <h5>Fist name</h5>
                            </div>
                        </div>
                        <div data-bind="foreach: instructors">
                            <div class="row nested">
                                <div class="large-4 columns bottom-spacing-small">
                                    <input type="text" data-bind="value: lastName" placeholder="de La Salle">
                                </div>
                                <div class="large-4 columns bottom-spacing-small left">
                                    <input type="text" data-bind="value: firstName" placeholder="Jeane Baptiste">
                                </div>
                                <div class="large-4 columns bottom-spacing-small">
                                    <a href="#" data-bind="click: $root.removeInstructor" class="grey-button2 form-button">
                                        <i class="icon-remove"></i>
                                        
                                    </a>  
                                </div>   
                            </div>
                        </div>
                        <div class="row ">
                            <div class="large-4 columns">
                                <a href="#"data-bind="click: addInstructor" class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                    Add row
                                </a>
                            </div>
                        </div>
                        <div class="row divider"></div>
                        <div class="row  top-spacing">
                            <div class="large-12 columns">
                                <h5>Course Description</h5>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="large-12 columns ">
                                <textarea class="form-fill form-textarea " name="description">
                                </textarea>
                            </div>
                        </div>
                        <div class="row  top-spacing">
                            <div class="large-12 columns">
                                <a href="#section2" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To Learning Outcomes
                                </a>
                            </div>          
                        </div>

                    <!-- End of Basic Details content -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                        <a href="#">Learning Outcomes</a>
                    </p>
                    <div class="content" data-slug="section2" data-section-content>
                    <!-- Start of Learning Outcomes content -->
                        <p class="syllabus-subtitle">On completion of the course, the student is expected to be able to do the following:</p>

                        <div data-bind="foreach: elgas">
                            <div class="row  top-spacing nested">
                                <div class="large-4 columns">

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Lasallian Value</h5>
                                        </div>
                                    </div>
                                    <div class="row bottom-spacing-small">
                                        <div class=" small-12 columns">
                                            <input type"text" data-bind="value: elgaName" placeholder="Service Driven Citizen"/>
                                            <a href="#" data-bind="click: $root.removeElga" class="grey-button2 form-button">
                                                <i class="icon-remove"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-8 columns left">
                                    <div class="row">
                                        <div class="large-12 column">
                                            <h5>Learning Outcomes</h5>
                                        </div>
                                    </div>
                                    <!-- LO block -->
                                    <div data-bind="foreach: learningOutcomes">
                                        <div class="row bottom-spacing-small">
                                            <div class="large-2 columns">
                                                <span class="lo-block">LO 1</span>
                                            </div>
                                            <div class="large-10 columns ">
                                                <textarea data-bind="value: description" class="lo-form form-fill"
                                                placeholder="Design an efficient, fault tolerant, and scalable network based on the principles of hiearchical LAN design."></textarea>
                                                <a href="#" data-bind="click: $parent.removeLearningOutcome" class="grey-button2 form-button">
                                                    <i class="icon-remove"></i>
                                                    Remove LO
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of LO block -->

                                    <div class="row top-spacing">
                                        <div class="large-2 columns">
                                        </div>
                                        <div class="large-10 columns">
                                            <a data-bind="click: addLearningOutcome" href="#" class="green-button right-spacing form-button">
                                                <i class="icon-plus button-icon"></i>
                                                Add Learning Outcome
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row divider"></div>
                        </div>
                        
                        <div class="row  top-spacing">
                            <div class="large-7 columns left">
                                <a data-bind="click: addElga" href="#" class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                    Add A Lasallian Value
                                </a>
                            </div>
                            <div class="large-5 columns">

                                <a href="#section3" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To Course Output
                                </a>
                                <a href="#section1" onClick="pane(1)" class="grey-button previous-button">
                                    <i class="icon-chevron-left button-icon"></i>
                                </a>
                            </div>          
                        </div>              
                     <!-- End of Learning Outcomes content -->
                     </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                        <a href="#">Course Output</a>
                    </p>
                    <div class="content" data-slug="section3" data-section-content>
                    <!-- Start of Course Output content -->
                        <h4>Final Course Output</h4>
                        <p class="syllabus-subtitle">As evidence of attaining the prescribed learning outcomes, the student is required to do and submit the following during the indicated dates of the term.</p>
                        <div class="row  top-spacing">
                            <div class="large-12 columns">
                                <h5>Final Course Output Description</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns ">
                                <textarea data-bind="value: finalCourseOutputDescription" class="form-fill form-textarea" placeholder="The final case study requires students to work in groups of 3-4 members in designing, implementing, and verifying a hypothetical network based on a set of given requirement. Further details and specifications of the case study will be given at a later date."></textarea>                       
                            </div>
                        </div>

                        <div data-bind="foreach: requiredOutputs">
                            <div class="row tops-spacing">
                                <div class="large-4 columns">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Required Output</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-12 columns ">
                                            <input type="text" data-bind="value: description" placeholder="Case Study"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns left">          
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Due Date</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-10 columns ">
                                            <input type="text" data-bind="value: weekDue" placeholder="Week 13" />
                                        </div>
                                        <div class="small-2 columns">
                                            <a href="#" data-bind="click: $root.removeRequiredOutput" class="grey-button2 form-button">
                                                <i class="icon-remove"></i>

                                            </a>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                            <div class="row top-spacing nested">
                                <div class="large-6 columns left">
                                    <div class="row bottom-spacing-small">
                                        <div class="large-12 columns">
                                            <h5>Learning Outcomes</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-10 columns" data-bind="foreach: $root.elgas">  
                                            <div data-bind="foreach: learningOutcomes">
                                                <span class="lo-co-cb">
                                                    <input type="checkbox" data-bind="value: description, checked: $parents[1].los">&nbsp;<span data-bind="text: description"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider bottom-spacing-small"></div>
                        </div>
                        <div class="row top-spacing">
                            <div class="large-12 columns">
                                <a href="#"  data-bind="click: addRequiredOutput" class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                    Add Required Output
                                </a>
                            </div>
                        </div>



                        <div class="row top-spacing-more">
                            <h4 class="syllabus-title2">
                                Other Requirements and Assesments
                            </h4>
                            <!--<span class="syllabus-modified">Modified 53 minutes ago</span>-->
                            <p class="syllabus-subtitle">Aside from the final output, the student will be assessed at other times during the term by the following:</p>
                        </div>
                        <div class="row  top-spacing">
                            <div class="large-12 columns">
                                <h5>Requirement / Assessment</h5>
                            </div>
                        </div>
                        <div data-bind="foreach: otherOutputs">
                            <div class="row bottom-spacing-small">
                                <div class="large-6 columns">
                                    <div class="row bottom-spacing-small">
                                        <div class="small-8 columns"> 
                                            <input type="text" data-bind="value: requirementName" value: requirementName placeholder="Online Practical Exam"/>
                                        </div>
                                        <div class="small-4 columns">
                                            <a href="#" data-bind="click: $root.removeOtherOutput" class="grey-button2 form-button">
                                                <i class="icon-remove"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="#"  data-bind="click: addOtherOutput" class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                    Add row
                                </a>
                            </div>
                        </div>
                        <div class="row divider"></div>
                        <div class="row  top-spacing">
                            <div class="large-12 columns">
                                <a href="#section4" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To Rubric
                                </a>
                                <a href="#section2" class="grey-button previous-button">
                                    <i class="icon-chevron-left button-icon"></i>
                                </a>
                            </div>          
                        </div>

                    <!-- End of Course Output content -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                        <a href="#">Rubric</a>
                    </p>
                    <div class="content" data-slug="section4" data-section-content>
                    <!-- Start of Rubric content -->
                        <h4>Attach a Rubric</h4>
                        <p class="syllabus-subtitle">Rubrics are created separately from the actual Syllabus so they can be attached to multiple / different Syllabuses without having to retype them each time. Simply select below which Rubric you would like to attach. Alternatively, you can proceed to create a new one (progress here would not be lost).</p>
                        <div class="row nested">
                            <div class="large-4 column left ">
                                <select id="customDropdown" class="form-fill">
                                    <option>Rubric_NTCOR03_revision5</option>
                                    <option>Rubric_NTCOR03_revision3</option>
                                    <option>test_rubric423</option>
                                </select>   
                            </div>
                        </div>  
                        <div class="row divider"></div>
                        <div class="row  top-spacing">
                            <div class="large-7 columns left">
                                <a href="#" class="green-button right-spacing form-button">
                                <i class="icon-plus button-icon"></i>
                                    Create new Rubric
                                </a>
                            </div>
                            <div class="large-5 columns">

                                <a href="#section5" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To Grading System
                                </a>
                                <a href="#section3" class="grey-button previous-button">
                                    <i class="icon-chevron-left button-icon"></i>
                                </a>
                            </div>          
                        </div>
                    <!-- End of Rubric content -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#">Grading System</a></p>
                    <div class="content" data-slug="section5" data-section-content>
                        <!-- Start of Grading System content -->
                        <p class="syllabus-subtitle">The student will be graded according to the following:</p>
                        <div class="row  top-spacing nested">
                            <div class="large-4 columns">
                                <h5>Assessment Items</h5>
                            </div>
                            <div class="large-3 columns left">
                                <h5>Weight</h5>
                            </div>
                        </div>
                        <div data-bind="foreach: gradingSystems">
                            <div class="row bottom-spacing-small">
                                <div class="large-4 columns">
                                    <input type="text" placeholder="Chapter Exam" data-bind="value: itemName"/>
                                </div>
                                <div class="large-3 columns left">
                                    <input type="text" placeholder="15" data-bind="value: percentage"/>
                                </div>
                                <div class="large-2 columns left">
                                    <a href="#"  data-bind="click: $root.removeGradingSystem" class="grey-button2 form-button">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <a href="#" data-bind="click: addGradingSystem" class="green-button right-spacing form-button">
                                <i class="icon-plus button-icon"></i>
                                 Add row
                                </a>
                            </div>
                            <div class="large-4 columns left">
                                <p>
                                    Total grade of:
                                    <strong data-bind="text: totalGradingSystem">
                                    </strong>%
                                </p>
                            </div>
                        </div>
                        <div class="row divider"></div>
                        <div class="row  top-spacing">
                            <div class="large-12 columns right">

                                <a href="#section6" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To Learning Plan
                                </a>
                                <a href="#section4" class="grey-button previous-button">
                                    <i class="icon-chevron-left button-icon"></i>
                                </a>
                            </div>          
                        </div>
                        <!-- End of Grading System content -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                        <a href="#">Learning Plan</a>
                    </p>
                    <div class="content" data-slug="section6" data-section-content>
                        <!-- Start of Learning Plan content -->
                        <p class="syllabus-subtitle">
                            Plot weekly topics and coressponding activites that will be performed while discussing said topics.
                        </p>
                        <div class="no-spacing-first" data-bind="foreach: learningPlans">
                            <div class="row  top-spacing nested bottom-spacing-small">
                                <div class="large-12 columns left">
                                    <div class="row bottom-spacing-small">
                                        <div class="large-12 columns">
                                            <h5>Learning Outcomes</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-10 columns" data-bind="foreach: $root.elgas">  
                                            <div data-bind="foreach: learningOutcomes">
                                                <span class="lo-co-cb">
                                                    <input type="checkbox" data-bind="value: description, checked: $parents[1].los">&nbsp;<span data-bind="text: description"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row  nested">
                                <div class="large-6 columns">

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Topic</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-12 columns ">
                                            <input type="text" data-bind="value: topic" placeholder="Introduction / Orientation">
                                        </div>
                                    </div>
                                </div>
                                <div class="large-2 columns left">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Week No.</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-12 columns ">
                                            <input type="text"  data-bind="value: weekNumber" placeholder="1" class=" bottom-spacing-small"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns left">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h5>Learning Activites</h5>
                                        </div>
                                    </div>
                                    <div data-bind="foreach: learningActivities">
                                    <div class="row bottom-spacing-small">
                                        <div class="large-10 columns ">
                                            <input type="text"  data-bind="value: description" placeholder="Course Introduction" class=" bottom-spacing-small"/>
                                        </div>
                                        <div class="large-2 columns">
                                            <a href="#" data-bind="click: $parent.removeLearningActivity" class="grey-button2 form-button">
                                            <i class="icon-remove"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                    <a href="#" data-bind="click: addLearningActivity"class="green-button right-spacing form-button">
                                    <i class="icon-plus button-icon"></i>
                                        Add an activity
                                    </a>

                                </div>
                            </div>
                            <div class="row top-spacing">
                                <div class="large-12 columns">
                                    <a href="#" data-bind="click: $root.removeLearningPlan" class="grey-button2 form-button">
                                        <i class="icon-remove"></i>
                                        Remove Topic
                                    </a>
                                </div>
                            </div>
                            <div class="row divider"></div>
                        </div>
                        <div class="row  top-spacing">
                            <div class="large-6 columns left">
                                <a href="#" data-bind="click: addLearningPlan" class="green-button right-spacing form-button">
                                <i class="icon-plus button-icon"></i>
                                    Add a Learning Plan Week
                                </a>
                            </div>
                            <div class="large-6 columns">

                                <a href="#section7" class="green-button continue-button">
                                    <i class="icon-chevron-right button-icon"></i> To References and Policies
                                </a>
                                <a href="#section5" class="grey-button previous-button">
                                    <i class="icon-chevron-left button-icon"></i>
                                </a>
                            </div>          
                        </div>
                        <!-- Start of Learning Plan content -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                        <a href="#">References and Policies</a>
                    </p>
                    <div class="content" data-slug="section7" data-section-content>
                        <!-- End of References and Policies content -->



                        <!-- Start of References and Policies content -->
                    </div>
                  </section>
                  <section>
                    <p class="title" data-section-title>
                        <a href="#">Review and Publish</a>
                    </p>
                    <div class="content" data-slug="section8" data-section-content>
                        <!-- End of Review and Publish content -->



                        <!-- Start of Review and Publish content -->
                    </div>
                  </section>
            </div>
        </div>
    </form>
</div>

<!--
<div>
    <div class="row">
        <div class="large-12 columns">
            <a href="#" id="stringifyBtn" class="button primary small">Stringify</a>
            <a href="#" id="postBtn" class="button primary small">Post</a>
            <form action="{% url 'syllabus:add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="syllabus_json" id="syllabus_json">
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="large-4 columns">
            <p>College</p>
            <input type="text" data-bind="value: college">
            <p>Department</p>
            <input type="text" data-bind="value: department">
            <p>Course code</p>
            <input type="text" data-bind="value: courseCode">
            <p>Course name</p>
            <input type="text" data-bind="value: courseName">
            <p>Course description</p>
            <input type="text" data-bind="value: courseDescription">
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            <p>Schedules</p>
            <table>
                <thead>
                    <th>Days</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th></th>
                </thead>
                <tbody data-bind="foreach: schedules">
                    <td><input type="text" data-bind="value: days"></td>
                    <td><input type="text" data-bind="value: startTime"></td>
                    <td><input type="text" data-bind="value: endTime"></td>
                    <td><a href="#" data-bind="click: $root.removeSchedule">Delete</a></td>
                </tbody>
            </table>
            <a href="#" data-bind="click: addSchedule" class="button small primary">Add Row</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        <p>Instructors</p>
        <table>
            <thead>
                <th>Last name</th>
                <th>First name</th>
                <th></th>
            </thead>
            <tbody data-bind="foreach: instructors">
                <td><input type="text" data-bind="value: firstName"></td>
                <td><input type="text" data-bind="value: lastName"></td>
                <td><a href="#" data-bind="click: $root.removeInstructor">Delete</a></td>
            </tbody>
        </table>
        <a href="#" data-bind="click: addInstructor" class="button small primary">Add Row</a>
    </div>
</div>
-->


<!--
/* Learning Outcomes */
<div class="row">
    <div class="large-12 columns">
        <p>Learning Outcomes</p>
        <div data-bind="foreach: elgas">
            <div class="row">
                <div class="large-6 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <span>Lasallian Value</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-10 columns">
                            <input type="text" data-bind="value: elgaName">
                        </div>
                        <div class="large-2 columns">
                            <a href="#" data-bind="click: $root.removeElga">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <span>Learning Outcomes</span>
                        </div>
                    </div>
                    <div data-bind="foreach: learningOutcomes">
                        <div class="row">
                            <div class="large-10 columns">
                                <input type="text" data-bind="value: description">
                            </div>
                            <div class="large-2 columns">
                                <a href="#" data-bind="click: $parent.removeLearningOutcome">Delete</a>
                            </div>
                        </div>
                    </div>
                    <a href="#" data-bind="click: addLearningOutcome">Add LO</a>
                </div>
            </div>

        </div>
        <a href="#" data-bind="click: addElga" class="button primary small">Add ELGA</a>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <p>Final Course Output</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>Final Course Output Description</p>
                <textarea data-bind="value: finalCourseOutputDescription"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div data-bind="foreach: requiredOutputs">
                    <div class="row">
                        <div class="large-4 columns">
                            <p>Required Output</p>
                            <input type="text" data-bind="value: description">
                        </div>
                        <div class="large-4 columns left">
                            <p>Week Due</p>
                            <input type="text" data-bind="value: weekDue">
                        </div>
                    </div>
                    <div class="row">
                        <p>Learning Outcomes</p>
                        <div data-bind="foreach: $root.elgas">
                            <div data-bind="foreach: learningOutcomes">
                                <input type="checkbox" data-bind="value: description, checked: $parents[1].los">&nbsp;<span data-bind="text: description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" data-bind="click: addRequiredOutput" class="button primary small">Add Required Output</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        <p>Other Outputs</p>
        <div data-bind="foreach: otherOutputs">
            <div class="row collapse">
                <div class="large-9 columns">
                    <input type="text" data-bind="value: requirementName">
                </div>
                <div class="large-3 columns">
                    <a href="#" class="button primary alert postfix" data-bind="click: $root.removeOtherOutput">Delete</a>
                </div>
            </div>
        </div>
        <a href="#" class="button primary small" data-bind="click: addOtherOutput">Add Other Output</a>
    </div>
</div>




<div class="row">
    <div class="large-4 columns">
        <p>Grading System</p>
        <div data-bind="foreach: gradingSystems">
            <div class="row">
                <div class="large-5 columns">
                    <input type="text" data-bind="value: itemName">
                </div>
                <div class="large-5 columns">
                    <input type="text" data-bind="value: percentage">
                </div>
                <div class="large-2 columns">
                    <a href="#" class="button primary alert small" data-bind="click: $root.removeGradingSystem">Delete</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a href="#" class="button primary small" data-bind="click: addGradingSystem">Add Row</a>
            </div>
            <div class="large-6 columns">
                <span data-bind="text: totalGradingSystem"></span>
            </div>
        </div>
    </div>
</div>

/* Learning plan */
<div class="row">
    <div class="large-12 columns">
        <p>Learning Plan</p>
        <div data-bind="foreach: learningPlans">
            <div class="row">
                <div class="large-12 columns">
                    <p>Learning Outcomes</p>
                    <div data-bind="foreach: $root.elgas">
                        <div data-bind="foreach: learningOutcomes">
                            <input type="checkbox" data-bind="value: description, checked: $parents[1].los">&nbsp;<span data-bind="text: description"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" data-bind="value: topic">
                </div>
                <div class="large-2 columns">
                    <input type="text" data-bind="value: weekNumber">
                </div>
                <div class="large-4 columns">
                    <div data-bind="foreach: learningActivities">
                        <input type="text" data-bind="value: description">
                        <a href="#" data-bind="click: $parent.removeLearningActivity" class="button alert small">Delete</a>
                    </div>
                    <a href="#" data-bind="click: addLearningActivity" class="button primary small">Add new</a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#" data-bind="click: $root.removeLearningPlan" class="button alert small">Remove</a>
                </div>
            </div>
        </div>
        <a href="#" data-bind="click: addLearningPlan" class="button primary small">Add Learning Plan</a>
    </div>
</div>
-->
<!-- References-->
<div class="row">
    <div class="large-4 columns">
        <p>References</p>
        <div data-bind="foreach: references">
            <div class="row collapse">
                <div class="large-9 columns">
                    <input type="text" data-bind="value: referenceText">
                </div>
                <div class="large-3 columns">
                    <a href="#" class="button primary alert postfix" data-bind="click: $root.removeReference">Delete</a>
                </div>
            </div>
        </div>
        <a href="#" class="button primary small" data-bind="click: addReference">Add Reference</a>
    </div>
</div>

<!-- Class Policies-->
<div class="row">
    <div class="large-4 columns">
        <p>Class Policies</p>
        <div data-bind="foreach: classPolicies">
            <div class="row collapse">
                <div class="large-9 columns">
                    <input type="text" data-bind="value: policy">
                </div>
                <div class="large-3 columns">
                    <a href="#" class="button primary alert postfix" data-bind="click: $root.removeClassPolicy">Delete</a>
                </div>
            </div>
        </div>
        <a href="#" class="button primary small" data-bind="click: addClassPolicy">Add Class Policy</a>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% load staticfiles %}

{% if jsonString %}
<script>
    var jsonString = '{{ jsonString|safe }}';
</script>
{% endif %}

<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/syllabus-creation.js" %}"></script>
{% endblock scripts %}
