{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}


<div class="row content-header">
    <div class="large-12 column">
        <h3 class="left">Account Dashboard</h3>
        <!--<span>Modified x minutes ago</span>-->
    </div>
</div>


    <!-- what is this? > <div id="thing"></div> -->
    <div class="row top-spacing">
        <div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: true">
            <section class="active">
                <p class="title" data-section-title>
                    <a href="#syllabus">Syllabus</a>
                </p>
                <div class="content" data-slug="syllabus" data-section-content>
                    <!-- Content -->
                    <div class="row">
                        <div class="large-12 columns">

                            <a href="#" data-dropdown="syllabus-checkboxes" class="dashboard-grey dropdown">
                                <i class="icon-check-empty"></i>
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul id="syllabus-checkboxes" class="f-dropdown">
                              <li><a href="#">All</a></li>
                              <li><a href="#">None</a></li>
                            </ul>  

                            <a href="#" class="dashboard-green"><i class="icon-download-alt"></i> download</a>

                            <a href="{% url "syllabus:syllabus" %}" class="dashboard-green"><i class="icon-plus"></i> New Syllabus</a>

                            <a href="#" class="dashboard-grey"><i class="icon-trash"></i></a>

                        </div>
                    </div>


                    <div class="row dashboard-table-content">
                        <div class="large-12 columns">
                            <ul data-bind="foreach: pagedList">
                                <li data-bind="click: select">
                                    <!-- <i class="icon-check-empty"></i> -->
                                    <input type="checkbox" data-bind="checked: isSelected">
                                    <span class="itemName" data-bind="text: itemName"></span>
                                    <span class="lastModified" data-bind="text: lastModified"></span>
                                </li>
                            </ul>
                            <div data-bind="visible: hasMoreThanOnePage">
                                <a class="dashboard-green" data-bind="click: previousPage">Previous</a>
                                <a class="dashboard-green" data-bind="click: nextPage">Next</a>
                            </div>
                        </div>
                    </div>

                            <!-- End of content -->
                </div>
            </section>
            <section>
                <p class="title" data-section-title>
                    <a href="#rubric">Rubric</a>
                </p>
                <div class="content" data-slug="rubric" data-section-content>
                    <!-- Content -->
                    <div class="row">
                        <div class="large-12 columns">

                            <a href="#" data-dropdown="rubric-checkboxes" class="dashboard-grey dropdown">
                                <i class="icon-check-empty"></i>
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul id="rubric-checkboxes" class="f-dropdown">
                              <li><a href="#">All</a></li>
                              <li><a href="#">None</a></li>
                            </ul>  

                            <a href="#" class="dashboard-green"><i class="icon-download-alt"></i> download</a>

                            <a href="{% url "syllabus:syllabus" %}" class="dashboard-green"><i class="icon-plus"></i> New Syllabus</a>

                            <a href="#" class="dashboard-grey"><i class="icon-trash"></i></a>

                        </div>
                    </div>


                    <div class="row dashboard-table-content">
                        <div class="large-12 columns">
                            <ul data-bind="foreach: pagedList">
                                <li data-bind="click: select">
                                    <!-- <i class="icon-check-empty"></i> -->
                                    <input type="checkbox" data-bind="checked: isSelected">
                                    <span class="itemName" data-bind="text: itemName"></span>
                                    <span class="lastModified" data-bind="text: lastModified"></span>
                                </li>
                            </ul>
                            <div data-bind="visible: hasMoreThanOnePage">
                                <a class="dashboard-green" data-bind="click: previousPage">Previous</a>
                                <a class="dashboard-green" data-bind="click: nextPage">Next</a>
                            </div>
                        </div>
                    </div>

                    <!-- End of content -->
                </div>
            </section>
        </div>
    </div>
    <!--</form>-->

{% endblock content %}
{% block scripts %}

<!-- Server side json data -->
<script>
    var jsonData = $.parseJSON('{{ jsonData|escapejs }}');
</script>

{% load staticfiles %}
<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/dashboard.js" %}"></script>


{% endblock scripts %}
