{% extends "base.html" %}

{% block title %}Rubric{% endblock title %}

{% block content %}


<div class="row content-header">
	<div class="large-12 column">
		<h3 class="left">Create a new Rubric</h3>
		<span>Modified x minutes ago</span>
	</div>
</div>

<div class="rubric row">
	<div class="row">
		<div class="large-4 columns">
			<label>Rubric name</label>
			<input data-bind="value: rubricName" type="text" placeholder="NTCORE03_Rubric01" />
		</div>
	</div>


	<div data-bind="foreach: criterias">
		<hr>

		<div class="row">
			<div class="large-12 columns">
				<label>Criteria</label>
			</div>
		</div>
		<div class="row">
			<div class="small-4 columns">
				<input data-bind="value: criteriaName" type="text" placeholder="Equipment and Resources"/>
			</div>
			<div class="small-2 columns left">
				<a href="#" data-bind="click: $root.removeCriteria"><i class="icon-remove-multiple"></i>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="large-3 columns">
				<label>Exemplary</label>
				<textarea data-bind="value: exemplary" placeholder="Resource allocation is sufficient with room for expansion. Cost of resources is kept within reasonable limits."></textarea>
			</div>
			<div class="large-3 columns">
				<label>Satisfactory</label>
				<textarea data-bind="value: satisfactory"placeholder="Resource allocation is sufficient with room for reasonable expansion."></textarea>
			</div>
			<div class="large-3 columns">
				<label>Developing</label>
				<textarea data-bind="value: developing" placeholder="Resource allocation is sufficient but expansion is limited."></textarea>
			</div>
			<div class="large-3 columns">
				<label>Beginning</label>
				<textarea data-bind="value: beginning" placeholder="Network resources are grossly under or over allocated"></textarea>
			</div>
		</div>

	</div><!-- END OF FOREACH BIND ON THIS DIV -->



	<div class="row">
		<div class="large-12 columns">
			<!-- ADD BIND ON THIS HREF -->
			<a href="#" data-bind="click: addCriteria" class="add-row">
				<i class="icon-plus"></i>Add Criteria
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="large-12 columns">
			<a href="#" id="postBtn" class="continue-button">Save Rubric</a>
			<a href="#" id="stringifyBtn" class="add-row">Stringify</a>
		</div>
	</div>
</div>


<!-- json submit form -->
<form id="rubric_json_form" action="{% url "syllabus:rubric" %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="rubric_json" id="rubric_json">
</form>
</div>
{% endblock content %}

{% block scripts %}
{% load staticfiles %}

{% if jsonString %}
<script>
	var jsonString = '{{ jsonString|escapejs }}';
</script>
{% endif %}

<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/rubric.js" %}"></script>

{% endblock scripts %}
