{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="row content-header">
    <div class="large-12 column">
        <h3>
            Register a new account
        </h3>
    </div>
</div>

<form action="{% url "accounts:register" %}" method="POST" class="custom">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="content">
        <div class="row">
            <div class="large-4 columns">
                <label>Email Addres</label>
                {{ form.email }}
                {{ form.email.errors }}
                <p>
                    A valid DLSU <span class="highlight">@dlsu.edu.ph</span> or <span class="highlight">@delasalle.ph</span> email address is required.
                </p>
                <p>
                    You will need to confirm your account through the confirmation email that will be sent after registration.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <!-- <label>Full name</label> -->
                {{ form.name.label }}
                {{ form.name}}
                {{ form.name.errors}}
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <!-- <label>Password</label> -->
                {{ form.password.label }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <!-- <label>Confirm Password</label> -->
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {{ form.confirm_password.errors}}
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>College</label>
                <select id="collegeSelect" name="college" data-bind="options: collegeList,optionsText: 'collegeName',optionsValue: 'pk',value: college,optionsCaption: 'Choose one...'">
                </select>
                {# {{ profile_form.college }} #}
                {{ profile_form.college.errors }}
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Department</label>
                <select id="departmentSelect" name="department" data-bind="options: departmentList,optionsText: 'departmentName',
                optionsValue: 'pk',value: department,optionsCaption: 'Choose one...'">
            </select>
            {# {{ profile_form.department }} #}
            {{ profile_form.department.errors }}
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <input type="submit" value="Create account" id="register-button">
        </div>
    </div>
</div>
</form>
{% endblock content %}
{% block scripts %}
<!-- Server side json data -->
<script>
    var jsonData = $.parseJSON('{{ jsonData|escapejs }}');
</script>

{% load staticfiles %}
<script src="{% static "javascripts/vendor/knockout-2.3.0.js" %}"></script>
<script src="{% static "javascripts/profile.js" %}"></script>
{% endblock scripts %}
