// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


// footer by http://ryanfait.com 
* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

.footer {
	border-top: 1px solid $grey-border;
	padding-top: 30px;
	text-align: center;
	a {
		font-size: 15px;
		color: $green;
		text-transform: uppercase;
		margin-right: 10px;

	}

	p {
		font-size:  13px;
		color: $grey-lighter;
	}
}

//  end of footer declarations */

/*	-- Syllia stylesheet V3 (Re-created from ground up for a easier understanding) -- 
	Hello stylesheet reader! I hope you enjoy reading these declarations as I have enjoyed
	creating (and recreating) it :)
*/	

// general declarations (to @extend from)
.green-button, .clear-button, .negative-button {
	transition: background-color 0.5s, border 0.5s, color 0.5s;
	text-transform: uppercase;
}

.green-button {
	//border: 1px solid $green-darker;
	background-color: $green;
	color: #fff !important;	
	&:hover, &:focus {
		background-color: $green-lighter;
		//border: 1px solid $green;
	}
}

.clear-button {
	border: 1px solid $grey-border;
	color: $green !important;
	&:hover, &:focus {
		border: 1px solid $grey-border-darker;
		color: $green-darker;
	}
}

.negative-button {
	background-color: $grey-button;
	//border:1px solid $grey-button-border;
	&:hover, &:focus {
		background-color: $red;
		//border: 1px solid $red-darker;
		color: #fff;
	}
}

.icon-remove {
	@extend .negative-button;
	padding: 11px;
	color: #fff;
	display: inline-block;
	span {
		font-family: $body-font-family !important;
		margin-left: 3px;
	}	
}

.icon-remove-multiple {
	@extend .icon-remove;
	position: relative;
	top: 10px;
	&:before {
		content: "\f00d";
	}
}

.continue-button {
	@extend .green-button;
	float: right;
	padding: 15px 20px 15px 20px;
	text-transform: uppercase;
}

.icon-chevron-left {
	@extend .negative-button;
	float: right;
	padding: 15px;
	color: #fff;
	margin-right: 10px;
}

.add-row, .dashboard-green {
	@extend .green-button;
	padding: 8px 12px 8px 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.a-error {
	color: $red;
	margin-bottom: 40px;
	border-left: 3px solid $red;
	display: block;
	padding: 10px;
}

.errorlist {
	margin-top: -15px;
	border-top: 2px solid $red;
	padding: 5px 5px 5px 0px;
	li {
		list-style: none;
		color: $red;
		//padding-left: 10px;
	}
}

.no-visibility {
	visibility:hidden;
}

// index page declarations
.index-main {
	padding-top: 75px;
	h4, div {
		text-align: center;
	}
	div:last-child {
		margin-bottom: 30px;
	}
}
.index-features {
	padding-top: 30px;
	text-align: center;
	div {
		padding-bottom: 20px;
	}
}

.call-to-action {
	a {
		@extend .green-button;
		padding: 10px 30px 10px 30px;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 10px;
	}
	span {
		color: $grey-lighter;
		margin-top: 20px;
		display: block;
	}


}

// Navigation and Login / My account pane declaration
.navigation {
	margin-top: 30px;
	ul {
		float: right;
		list-style: none;
	}
	li {
		float: left;
		font-size: 1em;
		text-transform: uppercase;
		margin-right: 15px;
		position: relative;
	}

	a {
		color: $grey;
	}
}

.login-pane, .account-pane {
	display: none;
	width: 270px;
	padding: 25px;
	background-color: #fff;
	position: absolute;
	z-index: 2;
	right: 0px;
	top: 29px;
	border: 1px solid $grey-border;
	text-transform: none;
	a {
		color: $green;
	}
}

.login-pane:before {
	content: '';
	position: absolute;
	width: 104px;
	height: 1px;
	background-color: #fff;
	top: -1px;
	right: 0px;
}

.account-pane {
	font-size: 13px;
	strong {
		font-size: 14px;
		display: block;
	}
	ul {
		margin-left: 15px;
		float: none;
		list-style: circle;
		margin-bottom: 20px;
	}
	li {
		text-transform: none;
		float: none;
	}
	a {
		color: $green;
	}

	&:before {
		@extend .login-pane:before;
		width: 133px !important;
	}
}
#account-button {
	@extend .clear-button;
	padding: 8px 20px 8px 20px
}

/*	Login button is the 'LOGIN' button found in the navigation, while
	Login Submit is the button found in the login form itself */

#login-button {
	@extend .clear-button;
	padding: 8px 30px 8px 30px;
}

#login-submit, #register-button {
	@extend .green-button;
	padding: 8px 30px 8px 30px;
	display: block;
	border: none;
	margin-bottom: 10px;
}

#logout-button {
	@extend .negative-button;
	padding: 8px 30px 8px 30px;
	color: $grey-lighter;
	margin-top: 20px;
}


// Everything else 

.content-header {
	border-bottom: 1px solid $grey-border;
	margin-top: 40px;
	span {
		float: right;
		color: $green;
		font-size: 14px;
		margin-top: 25px;
	}
	margin-bottom: 30px;
}

.tab-wrapper {
	margin-top: 40px;
}

.content {
	/*.row:first-child, h4 {
		margin-top: 40px;
	}*/
	
	form.custom .custom.dropdown.open ul {
		border: 1px solid $grey-border;
	}
	input {
		height: 38px;
	}

	textarea {
		min-height: 80px !important;
		width: 100%;
	}

	.checkboxes {
	margin-top: 30px;
		input {
			height: 30px;
		}
		p {
			margin-left: -30px;
		}
	}

	.highlight {
		display: inline-block;
		background-color: $grey-button;
		color: lighter($grey-lighter);
		padding: 2px 5px 2px 5px;
		font-size: 12px;
	}

	.foreach-header {
		margin-bottom: -40px;
	}
}

.rubric {
	@extend .content;
	textarea {
		height: 200px;
		max-width: 100%;
	}
}

.vertical-tabs {
	.title {
		border-right: 2px solid $grey-border !important;
		text-transform: uppercase;
	}

	.active {
		.title {
			border-right: 2px solid $green !important;
		}
	}
}

.learning-outcomes {
	margin-bottom: 25px;
	.row:first-child {
		margin-top: 0px !important;
		margin-bottom: 10px;
	}
	.row {
		margin-top: 20px;
	}
	.lo-block {
		background-color: $grey-button;
		color: #fff;
		padding: 11px;
	}
}









/* OLD SCSS FILE, JUST NOT TO ENTIRELY FUCK UP 
THE SITE WHILE IM REDOING THE SCSS */


.dashboard-button-grey {
	@extend .negative-button;
	//@extend .form-button;
	font-size: 11px !important;


}

.dashboard-button-green {
	@extend .green-button;
	//@extend .form-button;
	//@extend .right;
	font-size: 11px !important;
	margin-right: 3px !important;
}

.dashboard-table-content {
	@extend .row;
	padding-top: 20px;
	//border-top: 1px solid $grey_lighter;

	ul {
		list-style: none;
	}

	li {
		display: block;
		padding: 3px;
		padding-left: 10px !important;
		padding-right: 10px !important;
		border-bottom: 1px solid $grey_lighter;

		span.itemName {
			padding-left: 5px;
		}

		span.lastModified {
			float: right;
		}

		i {
			font-size: 13px !important;
			color: $grey-lighter !important;
		}

	}
	li:last-child {
		border-bottom: none;
	}

	li:hover {
		background-color: $green;
		cursor: pointer;
		color: #fff;
		border-bottom: 1px solid $green;
		i {
			color: #fff !important;
		}
	}
}

.dashboard-icon {
	color: $grey-lighter !important;
	font-size: 13px;
}

.align-right {
	text-align: right;
}
